<a class="link" href="<%= new_team_path %>">Добавить команду</a> | 
<a class="link" href="<%= new_player_path %>">Добавить игрока</a> | 
<a class="link" href="<%= new_achivment_path %>">Добавить показатель</a> | 
<a class="link" href="<%= new_game_path %>">Добавить матч</a> | 
<a class="link" href="<%= new_player_statistic_path %>">Добавить статистику</a> | 
<a class="link" href="<%= top_path %>">Посмотреть статистику ТОП 5 игроков</a>
<br>